.veg-nonveg-btn {
  padding: 0.5rem 1rem;
  background: #fcf1cc;
  border: 2px solid #F2BD12;
  border-radius: 1rem;
  color: #212121;
  margin: 0 0.3rem;
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s;
}
.veg-nonveg-btn.active,
.veg-nonveg-btn:hover {
  background: #F2BD12;
  color: #fff;
}
